/* Navigation > General */
.site-nav{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.site-nav ul{
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.site-nav label,
.site-nav a{
  display: block;
  padding: 9px 12px;
  transition: color .15s ease-out, background-color .15s ease-out;
}
.site-nav .active{
  color: white;
}
.site-nav input{
  display: none;
}
.site-nav label{
  cursor: pointer;
  display: block;
}

/* Hamburger */
.menu-toggle{
  position: relative;
  float: right;
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 5px;
  margin-right: -12px;
  line-height: 22px;
}
.menu-toggle.menu-toggle:hover{
  background-color: transparent;
}
.hamburger{
  position: relative;
  float: right;
  width: 28px;
  height: 19px;
  margin-left: 10px;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.hamburger>span{
  height: 3px;
  display: block;
  position: absolute;
  width: 100%;
  background-color: white;
}
.hamburger > .toast-top{
  top: 0;
  -webkit-transition: -webkit-transform .15s ease-out 0s, top .15s ease-out .15s;
  transition: transform .15s ease-out 0s, top .15s ease-out .15s;
}
.hamburger > .meat {
  top: 8px;
  transition: opacity .15s ease-out .15s;
}
.hamburger > .toast-bottom {
  bottom: 0;
  -webkit-transition: -webkit-transform .15s ease-out 0s, bottom .15s ease-out .15s;
  transition: transform .15s ease-out 0s, bottom .15s ease-out .15s;
}

/* Hamburger crossed */
#main-menu:checked + .menu-toggle > .hamburger > .toast-top {
  top: 8px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: -webkit-transform .15s ease-out .15s, top .15s ease-out 0s;
  transition: transform .15s ease-out .15s, op .15s ease-out 0s;
}

#main-menu:checked + .menu-toggle > .hamburger > .meat {
  opacity: 0;
  transition: opacity .15s ease-out 0s;
}

#main-menu:checked + .menu-toggle > .hamburger > .toast-bottom {
  bottom: 8px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .15s ease-out .15s, bottom .15s ease-out 0s;
  transition: transform .15s ease-out .15s,bottom .15s ease-out 0s;
}

/* Desktop navigation */
@media (min-width: 800px){

  .site-nav{
    float: left;
  }

  .site-nav label{
    display: none;
  }

  .site-nav > .nav-item > ul > li{
    float: left;
  }
  .site-nav > .nav-item > ul > li > a,
  .site-nav > .nav-item > ul > li > .nav-item > a{
    line-height: 32px;
  }

  .site-nav li{
    position: relative;
  }

  .site-nav a:hover{
    color: white;
    background-color: #191919;
  }

  .site-nav ul ul{
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background-color: #333;
    pointer-events: none;
    opacity: 0;
    transition: opacity .3s 0s ease-out;
  }

  /* Add extra hoverable zone around list */
  .site-nav ul ul:before{
    content:"";
    position: absolute;
    top: -15px;
    right: -10px;
    bottom: -30px;
    left: -10px;
  }

  .site-nav ul ul ul{
    left: 100%;
    top: 0;
  }

  .site-nav li:hover > .nav-item > ul{
    opacity: 1;
    pointer-events: all;
  }

  .site-nav li:hover > .nav-item > a{
    background-color: #191919;
    color: #FFF;
  }

  .site-nav ul ul a:not(:last-child):after{
    content: '';
    float: right;
    margin: .4em 0 .4em .3em;
    border-top: solid .3em transparent;
    border-left: solid .5em;
    border-bottom: solid .3em transparent;
  }
}

/* Mobile navigation */
@media (max-width: 799px){

  .site-nav ul{
    border-bottom: solid 1px #333;
  }

  .site-nav li{
    border-top: solid 1px #333;
  }

  .site-nav label:hover,
  .site-nav a:hover{
    background: #111;
    color: #FFF;
  }

  .site-nav .nav-item{
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #222;
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s ease-out;
  }

  .site-nav .nav-item > a + ul>li>a,
  .site-nav .nav-item > a + ul>li>.open-nav-item{
    padding-left: 20px;
  }

  .site-nav .nav-item > a{
    border-top: solid 1px #333;
  }

  .site-nav input:checked ~ .nav-item{
    opacity: 1;
    pointer-events: all;
  }

  /* Mobile navigation > Open subnav button */
  .site-nav .open-nav-item:after{
    content: '';
    float: right;
    margin: .4em 0 .4em .3em;
    border-top: solid .3em transparent;
    border-left: solid .5em;
    border-bottom: solid .3em transparent;
  }

  /* Mobile navigation > Back button */
  .site-nav .back{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    background-color: #191919;
    border-top: solid 1px #333;
  }

  .site-nav .back:before{
    content: '';
    float: left;
    border-top: solid .3em transparent;
    border-right: solid .5em;
    border-bottom: solid .3em transparent;
    margin: .35em .3em .4em 0;
  }

}
