.overlay-inner{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0;
  pointer-events: none;
  transition: opacity .5s ease-out;
  z-index: 5;
}
.overlay input{
  display: none;
}
.overlay-inner > ul{
  list-style: none;
  padding-left: 0;
  margin: 0;
  line-height: 1;
}
.overlay-inner > ul:after{
  content: '';
  display: table;
  clear: both;
}
.overlay-inner label{
  cursor: pointer;
}
/* Overlay Close */
.overlay .overlay-close-overlay{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: .85;
  transition: opacity .5s ease-out;
}
.overlay > input:checked ~ .overlay-inner{
  opacity: 1;
  pointer-events: all;
}
.overlay > .overlay-close:checked ~ .overlay-inner{
  opacity: 0;
  pointer-events: none;
}
.overlay > .overlay-close:checked ~ .overlay-inner > .overlay-slides{
  transition-delay: .5s;
}
/* Slides */
.overlay-slides{
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  -webkit-transition: -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
}
.overlay-slides > li{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
.overlay-slides > li > .overlay-item{
  padding: 32px 60px;
}
.overlay-slides > li > .overlay-item>*{
  position: relative;
  z-index: 1;
  display: table;
  margin: 0 auto;
  opacity: 0;
  transition: none;
}
.overlay > input:checked ~ .overlay-inner > .overlay-slides > li > .overlay-item > *{
  opacity: 1;
  transition: opacity .25s .4s ease-out;
}
.overlay > .overlay-close:checked ~ .overlay-inner > .overlay-slides > li > .overlay-item > *{
  opacity: 0;
  transition-delay: 0s;
}
.overlay-slides > li > .overlay-item > img{
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: calc(100vh - 64px);
}
.overlay-slides > li.overlay-close-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
}

/* Slide widths */
.overlay-slides-2{
  width: 200%;
}
.overlay-slides-2>li{
  width: 50%;
}
.overlay-slides-3{
  width: 300%;
}
.overlay-slides-3>li{
  width: 33.333333%;
}
.overlay-slides-4{
  width: 400%;
}
.overlay-slides-4>li{
  width: 25%;
}
.overlay-slides-5{
  width: 500%;
}
.overlay-slides-5>li{
  width: 20%;
}
.overlay-slides-6{
  width: 600%;
}
.overlay-slides-6>li{
  width: 16.666667%;
}
.overlay-slides-7{
  width: 700%;
}
.overlay-slides-7>li{
  width: 14.285714%;
}
.overlay-slides-8{
  width: 800%;
}
.overlay-slides-8>li{
  width: 12.5%;
}

/* Active slides */
.overlay > input:nth-child(2):checked ~ .overlay-inner > .overlay-slides-2{
  transform: translateX(-50%);
}

.overlay > input:nth-child(2):checked ~ .overlay-inner > .overlay-slides-3{
  transform: translateX(-33.333333%);
}
.overlay > input:nth-child(3):checked ~ .overlay-inner > .overlay-slides-3{
  transform: translateX(-66.666667%);
}

.overlay > input:nth-child(2):checked ~ .overlay-inner > .overlay-slides-4{
  transform: translateX(-25%);
}
.overlay > input:nth-child(3):checked ~ .overlay-inner > .overlay-slides-4{
  transform: translateX(-50%);
}
.overlay > input:nth-child(4):checked ~ .overlay-inner > .overlay-slides-4{
  transform: translateX(-75%);
}

.overlay > input:nth-child(2):checked ~ .overlay-inner > .overlay-slides-5{
  transform: translateX(-20%);
}
.overlay > input:nth-child(3):checked ~ .overlay-inner > .overlay-slides-5{
  transform: translateX(-40%);
}
.overlay > input:nth-child(4):checked ~ .overlay-inner > .overlay-slides-5{
  transform: translateX(-60%);
}
.overlay > input:nth-child(5):checked ~ .overlay-inner > .overlay-slides-5{
  transform: translateX(-80%);
}

.overlay > input:nth-child(2):checked ~ .overlay-inner > .overlay-slides-6{
  transform: translateX(-16.666667%);
}
.overlay > input:nth-child(3):checked ~ .overlay-inner > .overlay-slides-6{
  transform: translateX(-33.333333%);
}
.overlay > input:nth-child(4):checked ~ .overlay-inner > .overlay-slides-6{
  transform: translateX(-50%);
}
.overlay > input:nth-child(5):checked ~ .overlay-inner > .overlay-slides-6{
  transform: translateX(-66.666667%);
}
.overlay > input:nth-child(6):checked ~ .overlay-inner > .overlay-slides-6{
  transform: translateX(-83.333333%);
}

.overlay > input:nth-child(2):checked ~ .overlay-inner > .overlay-slides-7{
  transform: translateX(-14.285714%);
}
.overlay > input:nth-child(3):checked ~ .overlay-inner > .overlay-slides-7{
  transform: translateX(-28.571429%);
}
.overlay > input:nth-child(4):checked ~ .overlay-inner > .overlay-slides-7{
  transform: translateX(-42.857143%);
}
.overlay > input:nth-child(5):checked ~ .overlay-inner > .overlay-slides-7{
  transform: translateX(-57.142857%);
}
.overlay > input:nth-child(6):checked ~ .overlay-inner > .overlay-slides-7{
  transform: translateX(-71.428571%);
}
.overlay > input:nth-child(7):checked ~ .overlay-inner > .overlay-slides-7{
  transform: translateX(-85.714286%);
}

.overlay > input:nth-child(2):checked ~ .overlay-inner > .overlay-slides-8{
  transform: translateX(-12.5%);
}
.overlay > input:nth-child(3):checked ~ .overlay-inner > .overlay-slides-8{
  transform: translateX(-25%);
}
.overlay > input:nth-child(4):checked ~ .overlay-inner > .overlay-slides-8{
  transform: translateX(-37.5%);
}
.overlay > input:nth-child(5):checked ~ .overlay-inner > .overlay-slides-8{
  transform: translateX(-50%);
}
.overlay > input:nth-child(6):checked ~ .overlay-inner > .overlay-slides-8{
  transform: translateX(-62.5%);
}
.overlay > input:nth-child(7):checked ~ .overlay-inner > .overlay-slides-8{
  transform: translateX(-75%);
}
.overlay > input:nth-child(8):checked ~ .overlay-inner > .overlay-slides-8{
  transform: translateX(-87.5%);
}

/* Dots */
.overlay-dots{
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.overlay-dots > li{
  text-indent: -9999px;
  display: inline-block;
  padding: 10px 3px;
}
.overlay-dots > li > label{
  display: block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #ddd;
  transition: background-color .15s ease-out;
}
.overlay-dots >li > label:hover{
  background-color: #84A0DB;
}

/* Active dots*/
.overlay > input:first-child:checked  ~ .overlay-inner > .overlay-dots > li:first-child  > label,
.overlay > input:nth-child(2):checked ~ .overlay-inner > .overlay-dots > li:nth-child(2) > label,
.overlay > input:nth-child(3):checked ~ .overlay-inner > .overlay-dots > li:nth-child(3) > label,
.overlay > input:nth-child(4):checked ~ .overlay-inner > .overlay-dots > li:nth-child(4) > label,
.overlay > input:nth-child(5):checked ~ .overlay-inner > .overlay-dots > li:nth-child(5) > label,
.overlay > input:nth-child(6):checked ~ .overlay-inner > .overlay-dots > li:nth-child(6) > label,
.overlay > input:nth-child(7):checked ~ .overlay-inner > .overlay-dots > li:nth-child(7) > label,
.overlay > input:nth-child(8):checked ~ .overlay-inner > .overlay-dots > li:nth-child(8) > label{
  background-color: #2A63D8;
}

/* Active arrows */
.btn-arrow{
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  display: none;
  text-indent: -9999px;
}

/* Fix position if dots are present */
.overlay-dots + .overlay-arrows .btn-arrow{
  margin-top: -36px;
}

.btn-arrow:before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  border-radius: 50%;
  opacity: 0;
  transition: opacity .15s ease-out;
}

.btn-arrow:active:before{
  opacity: .5;
}

.btn-arrow:after{
  content: '';
  position: absolute;
  top: 11px;
  border-top: solid 9px transparent;
  border-bottom: solid 9px transparent;
  opacity: .75;
  transition: opacity .15s ease-out;
}

.btn-arrow:hover:after{
  opacity: 1;
}

.btn-arrow.prev{
  left: 10px;
}

.btn-arrow.prev:after{
  border-right: solid 15px white;
  right: 15px;
}

.btn-arrow.next{
  right: 10px;
}

.btn-arrow.next:after{
  border-left: solid 15px white;
  left: 15px;
}

/* Active arrows*/
.overlay > input:first-child:checked  ~ .overlay-inner > .overlay-arrows > li:first-child  > .btn-arrow,
.overlay > input:nth-child(2):checked ~ .overlay-inner > .overlay-arrows > li:nth-child(2) > .btn-arrow,
.overlay > input:nth-child(3):checked ~ .overlay-inner > .overlay-arrows > li:nth-child(3) > .btn-arrow,
.overlay > input:nth-child(4):checked ~ .overlay-inner > .overlay-arrows > li:nth-child(4) > .btn-arrow,
.overlay > input:nth-child(5):checked ~ .overlay-inner > .overlay-arrows > li:nth-child(5) > .btn-arrow,
.overlay > input:nth-child(6):checked ~ .overlay-inner > .overlay-arrows > li:nth-child(6) > .btn-arrow,
.overlay > input:nth-child(7):checked ~ .overlay-inner > .overlay-arrows > li:nth-child(7) > .btn-arrow,
.overlay > input:nth-child(8):checked ~ .overlay-inner > .overlay-arrows > li:nth-child(8) > .btn-arrow{
  display: block;
}