*{
  box-sizing: border-box;
}

/* Layout */
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: whitesmoke;
  color: #333;
}
.container{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 830px;
  padding-left: 15px;
  padding-right: 15px;
}
.site-content{
  flex-grow: 1;
}
a{
  text-decoration: none;
  color: inherit;
}
[data-after]:after{
  content: attr(data-after);
}

/* Header */
.site-header{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 50px;
  background-color: #222;
  color: #999;
}
.site-title{
  float: left;
  margin: 0 20px 0 0;
  line-height: 50px;
  font-size: 20px;
  color: #FFF;
}

/* Content */
.site-content{
  padding: 100px 15px 50px;
}

.gallery{
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.gallery:after{
  content: '';
  display: table;
  clear: both;
}
.gallery > li{
  float: left;
}
.gallery > li > label{
  transition: opacity .15s ease-out;
  cursor: pointer;
}
.gallery > li > label:hover{
  opacity: .75;
}

@media (min-width: 800px){
  .site-main:not(:last-child){
    width: 75%;
    float: left;
    margin-left: 25%;
    margin-right: -100%;
  }

  /* Sidebar */
  .site-subnav{
    width: 25%;
    float: left;
  }
  .site-subnav ul{
    list-style: none;
    padding-left: 0;
    margin: 0;
    color: #444;

  }
  .site-subnav a{
    display: block;
    padding: 2px 0;
    font-weight: bold;
    font-size: .8em;
  }
  .site-subnav ul ul a{
    padding-left: 5px;
    font-size: .8em;
  }
  .site-subnav .active{
    color: #2A63D8;
  }
}
@media (max-width: 799px){
  /* Sidebar */
  .site-subnav{
    display: none;
  }
}


/* Footer */
.site-footer{
  background-color: #222;
  color: whitesmoke;
  text-align: center;
  padding: 10px;
}
